*{
    margin: 0;
    padding: 0;
.cabeçalho {
  background-color: #000000;
  color: white;
  display:flex;
  justify-content: space-aroumd; 
  aling-items: center;
}

. cabecalho-imagem {
    largura :  20 % ;
}
.cabeçalho-lista-item{
    exibição : bloco em linha;
    margem :  0  16 px ;
    tamanho da fonte :  24 px ;