*{
        margin: 0;
        padding: 0;
}

.cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    aling-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
    height: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin:  0  16px;
    font-size:  20px;
}

.modelo-imagem{
    width: 20%;
}

.Descubra a vaidosa fashion{
    background-image: linear-gradient(#000000,#252020);