*{
    margin: 0;
    padding: 0;
.cabeçalho {
  background-color: #000000;
  color: white;
  display:flex;
  justify-content: space-aroumd; 
  aling-items: center;
}

.cabeçalho-imagem{
    width: 25%
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 5 16px;
    font-size: 24px;
}